* {
    box-sizing: border-box;
}

body{
    background: #898989;
    position: relative;
    max-width: 100%;
}

ul, body, figure, p, section, img, h3{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 89.156%;
    max-width: 100%;
    position: relative;
}

.header{
    height: 80px;
    background: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    max-height: 34px;
}

.header-title{
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 20px;
    padding: 0px 40px;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumo-title{
    font-size: 30px;
}

.resumo-text{
    width: 100%;
    padding: 0 15%;
    text-align: justify;
    
}

.text{
    font-size: 20px;
    line-height: 30px;
}

@media (max-width: 875px){

}