*{
    box-sizing: border-box;
}

.header{
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 200px;
    display: flex;
    justify-content: center;
}

img{
    max-width: 100%;
    height: 50px;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap; é a mesma coisa que as 2 linhas de cima */
    list-style: none;
    height: 80px;
    align-items: center;
    /* flex-grow: 1; */
}

.menu-item{
    font-size: 16px;
}

.menu-item-link{
    padding: 20px;
    color: black;
    font-family: sans-serif;
}

body{
    background: #ccc;
    margin: 0;
}

.content{
    height: 500px;
    width: 100%;
    padding: 0 20%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    align-items: center;
    font-size: 30px;
        
}